ezOMMTracking/WindowsWCFTest/Service References/DispatchServiceReference/DispatchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ezOMMServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ezOMMServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LotInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactEmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="ContactEmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurQuantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastEquipmentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastEquipmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastPositionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastStepId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastStepName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastSubPositionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastSubProcessId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastSubProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotId" type="xs:int" />
      <xs:element minOccurs="0" name="NextEquipmentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextEquipmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextEquipmentUsage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextPositionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextStepId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextStepName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextSubPositionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextSubProcessId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextSubProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorityId" type="xs:int" />
      <xs:element minOccurs="0" name="PriorityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessId" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UomId" type="xs:int" />
      <xs:element minOccurs="0" name="UomName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LotInformation" nillable="true" type="tns:LotInformation" />
</xs:schema>