ezOMMTracking/WindowsWCFTest/Service References/DispatchServiceReference/DispatchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4489/DispatchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ezOMMServer" />
  <xs:element name="GetLotInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotalias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ezOMMServer" minOccurs="0" name="GetLotInfoResult" nillable="true" type="q1:LotInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>